.career {
  list-style: none;
  padding: 0;
  margin:0;

  font-size:1em;

  li {
    a.no {
      text-decoration: none;
      border-bottom: 0;
    }
    img {
      height:26px;
    }
  }

  .cg {
    display: inline-block;
    background: url(http://www.connectedgreek.com/resources/images/all.coke.png) -20px -221px;
    width: 140px;
    height: 17px;
    background-size: 650px 119px;
    text-indent: -9999px;
    vertical-align: text-bottom;
  }

}