
.welcome-hero.callout.large {
  background: $primary;
  height: 75%;
  min-height: 500px;
  display: flex;
  align-items: center;

  a, a:hover {
    color: #ffffff;
    text-decoration: none;
    border-bottom:none;
  }


  .splash-text {

    h1, h2, h3 {
      color: #fff;
    }

    h1 {
      height: 100%;
      width: 100%;
      margin: 0 auto;
      display: table-cell;
      vertical-align: middle;
      font-weight: 600;
      font-size: 2.2em;
      letter-spacing: 0.0573em;
      padding-bottom: 10px;
    }

    h3 {
      color: lighten($primary, 41%);
      text-align: left;
      font-size:1.5em;
    }

  }

  ul.nav {
    text-align: left;
    margin:0;

    li {
      display:inline-block;
      padding:0 10px 0 0;

      text-transform: lowercase;

      a, a:hover {
        font-size:1.5em;
        font-weight: 300;
      }

      a:hover {

      }
    }

  }
}

