@import "reset";
@import "pygments";

$primary: #1192ce;

body {
  background: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.0em;
  line-height: 1.7em !important;

  h1, h2, h3, h4, h5, h6 {
    color: $primary;
  }

  a, a:visited, a:active {
    color: $primary;
    text-decoration: none;
    border-bottom: 2px solid lighten($primary, 30%);
    -webkit-transition: border-color 0.2s ease;
    -moz-transition: border-color 0.2s ease;
    -ms-transition: border-color 0.2s ease;
    -o-transition: border-color 0.2s ease;
    transition: border-color 0.2s ease;
  }

  a:hover {
    border-bottom: 2px solid $primary;
  }

  .header-blur {

    background-size: cover;

    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
  }

  .header {
    max-width: 1224px;
    margin: 0 auto;
    background-size: cover;
    height: 400px;
    position: relative;

    .heading-wrap {
      position: absolute;
      top: 50%;
      left: 5%;
      opacity: 0.75;;
    }

    h1, h2 {
      text-align: left;
      color: #333;
      padding: 7px 15px 5px;
      font-size: 30px;
      background: #ffffff;
      margin: 0;
    }
    h1 {
      padding-bottom: 0;
    }

    h2 {
      padding-top: 0;
      font-size: 20px;
    }

    .logo {
      background: rgb(255, 255, 255);
      background: rgba(255, 255, 255, .8);
      font-size: 16px;
      color: $primary;
      border-radius: 100px;
      position: fixed;
      left: 10px;
      top: 10px;
      text-align: center;
      line-height: 44px;

      width: 50px;
      height: 50px;

      a {
        text-decoration: none;
        border-bottom: none;
        color: $primary;
      }

      a:hover, a:active, a:visited {
        color: $primary;
      }

    }

    .logo:hover {
      background: rgb(255, 255, 255);
      background: rgba(255, 255, 255, .95);
    }
  }

  code {
    padding: 20px;
    display: block;
    background: #fdfdfd;
    border: 1px solid #e1e1e1;
  }

  .post {
    img {
      width: 100%;
    }
  }
}
