---
---
<html class="no-js" lang="en-US"><head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{ page.title }} | WillWashburn.com</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Merriweather:300,400|Muli:400,400i,600" rel="stylesheet"/>

    <script async src="//www.instagram.com/embed.js"></script>
    <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-5176342-10"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-5176342-10');
    </script>
    <meta name="p:domain_verify" content="a4138288c1f5ff45ae11a135af46dc0b"/>
</head>{{ content }}</html>
