---
layout: template
---
<div class="header"
     style="background-image:url('{{ page.img }}'); height:{{page.header_height}}; background-position: {{page.header_position}};background-color: #{{page.header_background}};">
    <div class="logo">
        <a href="/">
            W<sup>2</sup>
        </a>
    </div>
    {% if page.heading %}
    <div class="heading-wrap">

        <h1>{{page.heading}} </h1>

        {% if page.sub_heading %}
        <h2>{{page.sub_heading}} </h2>
        {% endif%}

    </div>
    {% endif%}

</div>

<div class="site">

    {{ content }}
    <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">Put my frontend in the backend, backbone got marionetted nodejs with express so my requests? properly headed <a href="https://twitter.com/hashtag/NerdRap?src=hash">#NerdRap</a></p>&mdash; Will Washburn (@willwashburn) <a href="https://twitter.com/willwashburn/status/307171755536039937">February 28, 2013</a></blockquote>
    <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

</div>
